
<ul>
{% for thesis in site.data.theses.theses %}
<li>
 <p>
    {{ thesis.title }} <br>
    {{ thesis.description }} <br>
    Advisor: {{ thesis.advisor }} <br>


<a class="collapsible"> synopsis</a>
<span class="content">
{{ thesis.synopsis }}
</span>

{% if thesis.link %}
  / <a href="{{ thesis.link | escape}}"> publication</a>
  {% endif %}


{% if thesis.code %}
  / <a href="{{thesis.code | escape}}"> code</a>
  {% endif %}



{% if thesis.notes %} <br>
{% for note in thesis.notes %}
  >> {{ note }} <br>
  {% endfor %}
{% endif %}




</p>
</li>
{% endfor %}
</ul>

<style>
p{
  padding-bottom: 10px;
}

.content {
  padding: 10px 0px;
  display: none;
  overflow: hidden;
}

</style>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>